.swiper {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 100px;

    .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .swiper-pagination {
        position: relative;
        margin-top: 10px;
    }
}

.slide {
    max-width: 380px;

    &__img {
        max-width: 100%;
    }

    &__title {
        max-width: 100%;
    }

    &__text {
        max-width: 100%;
    }
}

@media (max-width: 600px) {}